@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
	background-image: linear-gradient(#636162, #b1afaf);
	/* height: 100vh; */
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: capitalize;
	/* background-color: #00f7ff; */
	
	
}
*{
	margin: 0px; padding: 0px; font-family: 'Montserrat', sans-serif;
}
.main{
	background-color: white;
	height: auto;
	width: 100%;
	position: absolute;
	/* transform: translate(-50%, -50%);  */
	/* left: 20%;
   top: 20%;
    */
	display: flex;
	/* flex-wrap: nowrap; */
	
}
.left{
	background-color: #05656b;
	width: 40%;
	height: auto;
}	
#l1,#s1,#h1{
	height: 20px;
	margin-top: 5%;
	letter-spacing: 2px;
	text-transform:initial;
}	
	

.right{
	width: 60%;
	
	
	
}
.profile-img{
	height: 180px;
	width: 180px;
	background-color: #ddd;
	border-radius: 50%;
	margin-bottom: 20px;
	margin-left: 60px;
	/* border: 10px solid #fbb03b;
	box-shadow: 6px 7px 9px 5px #fbb03b73; */
}
.profile-img img{
	width: 100%;
	border-radius: 50%;
	height: 180px;
	
}


label{
	display: block;
	width: 140px;
	background: #1f1e1e;
	color: #08ecf4;
	padding: 5px;
	/* border-radius: 5px; */
	cursor: pointer;
	position: relative;

}
label::before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	border-top: 2px solid white;
	border-right: 2px solid white;
	animation: border-top 3s infinite;
}
label::after{
	content: "";
	position: absolute;
	/* height: 0; */
	right: 0;
	/* width: 0; */
	bottom: 0;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	animation: border-bottom 3s infinite;
}
@keyframes border-top{
	0%{width: 0px;height: 0px;}
	50%{width: 100%;height: 0px;}
	100%{width: 100%;height: 100%;}
}
@keyframes border-bottom{
	0%{width: 0px;height: 0px;}
	50%{width: 100%;height: 0px;}
	100%{width: 100%;height: 100%;}
}
label:hover{
	background-color: rgb(2, 2, 2);
}
input[type=file]
{
	display: none;
}
.box-1{
	margin-top: 5%;
}
#hoo{
	margin-top: 15%;
}
.heading{
	background-color: #3a8b8daa;
	padding: 10px;
	color: #f99b04;
	text-align: left;
	padding-left: 20px;
	margin-right: -15px;
	
}
/* .heading::after{
	content: '';
	position: absolute;
	width: 21px;
	height: 18px;
	background-color: #5a5959;
	left: 191px;
	top: 26px;
	transform:rotate(56deg);
	z-index: -1;
} */
.p1{
	padding: 9px 10px;
	font-size: 11px;
}
.icons1{
	font-size: 16px!important;
	padding-right: 10px!important;
	vertical-align: sub;
}
.skill-container{
	width: 90%;
	background-color: #4d4d4d;
	margin: 0px 10px;
}
.skill{
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
	color: white;
}

.box-2{
	padding: 0px 50px;
	margin-top: 20%;
	
}
/* .p2{
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 18px;
	margin-top: 5px;
} */
h2{
	font-size: 16px;
	margin-bottom: 15px;
}
.icons3{
	vertical-align: bottom;
	font-size: 21px!important;
	color: #4d4d4d;
}
/* .p3{
	font-size: 13px;
	word-spacing: 1px;
	letter-spacing: 0px;f
	margin-top: 10px;
} */
.p3 span{
	color: #ff9b00; padding-left: 20px;
}
button{
	/* margin-top: 80px; */
	width: 100px;
	letter-spacing: 5px;
	color: #fafbfb;
	background-color:  #21bbc6b2;
	border-radius: 5px;
	height: 40px;
}
#sub{
	margin-top: 80px;
	margin-bottom: 80px;
	height: auto;
}
button:hover{
	background-color: rgb(0, 5, 8);
}
table{
	border: 0.5px solid black;
	width: 400px;
	
	
}
#f{
	text-align: center;
	letter-spacing: 1px;
	font-size: 14px;
	
}

#gfg{
	width: 250px;
	font-size: 14px;
}
#l1,#h1,#s1
{
	
	border:none;
    /* outline: none; */
    width: auto;
    /* padding: 11px; */
    /* background: #45f3ff; */
    /* margin-top: 30px; */
    border-radius: 4px;
    /* font-weight: 600; */
    /* cursor: pointer;
   position: absolute;
   right: 10;
   bottom: 0; */
   text-align: center;
	letter-spacing: 1px;
	display: grid;
	font-size: 16px;
	margin:5px;
	
	
}
#tel,#email{
	border:none;
	outline: none;
	border-radius: 4px;
	width: 250px;
    font-weight: 600;
	/* text-align: ; */
	position: absolute;
	font-size: 16px;
	
	
	
}
#email{
	width: 280px;
}
button{
	border: none;
	outline: none;
}
textarea{
	border:none;
	border-radius: 4px;
    font-weight: 600;
	width: 400px;
	overflow: auto;
	font-size: 16px;
}
/* li{
	margin-left: 20px;
} */
@media print{
	button{
		display: none;
	}
	#l22{
		display: none;
	}
	h1{
		display: none;
	}
	.table{
		border: none;
	}
	.myclassname1{
		border: none;
	}
	#gfg,#f{
		border: none;
	}
	
}
.text{
	
	margin-left: 50px;
	margin-top: 20%;
	animation: shake 5s ease-in-out infinite;
	font-weight: 700;
	text-shadow: 2px 2px;
	
	/* background: linear-gradient(120deg,#2980b9,#8e44ad);
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent; */

}
@keyframes shake{
	25%{
		color: #00f7ff;
	}
	50%{
		color: #c61da7;
	}
	75%{
		color: #f62020;
	}
	100%{
		color: #8215e9;
	}
}
