@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"); 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", SansSerif;
}

body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background-color: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1); */
}
.container .left_Side {
  position: relative;
  background-color: #003147;
  padding: 40px;
  
}
.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo {
  width: 100%;
  height: auto;
}
.profileText h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;
}
.contactInfo {
  padding-top: 40px;
}
.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.contactInfo ul {
  position: relative;
}
.contactInfo ul li {
  list-style: none;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
}
.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}
.contactInfo ul li span {
  color: #fff;
  font-weight: 300;
}
.contactInfo.education li {
  margin-bottom: 15px;
}
.contactInfo.education h5 {
  color: #03a9f4;
  font-weight: 500;
}
.contactInfo.education h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
}
.contactInfo.education h4 {
  color: #fff;
  font-weight: 300;
}
.contactInfo.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #081921;
  display: block;
  /* margin-top: 5px; */
}
.contactInfo.language .percent div {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #03a9f4;
}
.container .right_Side {
  position: relative;
  background-color: #fff;
  padding: 40px;
}
.about {
  margin-bottom: 50px;
}
.about:last-child {
  margin-bottom: 0;
}
.title2 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
p {
  color: #081921;
}
.about .box {
  /* display: flex; */
  flex-direction: row;
  
}
.about .box .year_company {
  min-width: 150px;
}
.about .box .year_company h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}
.about .box .text h4 {
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 16px;
}
.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}
.skills .box h4 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 500;
}
.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
}
.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #03a9f4;
}
.interest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.interest ul li {
  list-style: none;
  color: black;
  font-weight: 500;
  /* margin: 10px 0; */
}
.interest ul li .fa {
  color: #03a9f4;
  font-size: 18px;
  width: 20px;
}
@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .about .box {
    flex-direction: column;
  }
  .about .box .year_company {
    margin-bottom: 5px;
  }
  .interest ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }
}

* {

  font-family: "Montserrat", sans-serif;

  margin: 0px;

  padding: 0px;

  box-sizing: border-box;

}

/* 
body {

  background-color: #acb0b4;

  text-transform:uppercase;

} */


.container {

  margin: auto;

  display: grid;

  grid-template-columns: 0.33fr 1fr;



  /* overflow: hidden; */



}
.contactInfo{
    margin-left: 30px;
}

.title{
    margin-left: 100px;
}

.container .card-one {

  padding: 40px 20px;

  padding-left: 35px;

  background-color: #d1d1d1;

  width: 100%;

  color: #313131;

 

 

}
.container .card-one .contact-box {

  margin-top: 10px;

}


.container .card-one .contact-box>* {

  width: 100%;

  display: grid;

  grid-template-columns: 0.3fr 1fr;

  margin-top: 25px;

  align-items: center;

}


.container .card-one .contact-box>* .text {

  display: inline-flex;

  word-break: break-all;

}


.container .card-one .personal-box {

  margin-top: 35px;

}

.container .card-one .hobbies-box .logo {

  margin: 10px 0px;

  /* display: grid; */

  grid-template: 1fr 1fr/1fr 1fr;

  font-size: 2.8em;

  grid-row-gap: 15px;

}
.container .card-two {
  background-color: #173c62;
  padding: 40px 20px;
  padding-right: 75px;
  color: #b5b5b4;

}
.container .card-two .haed-title {
  font-size: 2.1em;
  color: #b89258;
  font-weight: 400;
}
.container .card-two .box {
  display: inline-block;
  padding: 2px 70px 2px 20px;
  margin-left: -20px;
  margin-top: 35px;
  background-color: #b89258;
  color: #2c2b29;
}
.profile-img{

  height: 180px;

  width: 180px;

  background-color: #ddd;

  border-radius: 50%;

  margin-bottom: 20px;

  margin-left: 60px;

  /* border: 10px solid #fbb03b;

  box-shadow: 6px 7px 9px 5px #fbb03b73; */

}

.profile-img img{

  width: 100%;

  border-radius: 50%;

  height: 180px;

 

}


label{

  display: block;

  width: 140px;

  background: #1f1e1e;

  color: #ffffff;

  padding: 5px;

  /* border-radius: 5px; */

  cursor: pointer;

  position: relative;


}

label:hover{

  background-color: rgb(2, 2, 2);

  color: #08ecf4;

}

input[type=file]

{

  display: none;

}

.textarea1{

  width: 450px;

  height: 200px;

  border: 1px solid;

  margin-top: 2px;

 


}
#interst1{
    margin: 5px;
}

table{

  border: 0.5px solid black;

  width: 400px;

  margin-top: 2px;

 

 

}

#f{

  text-align: center;

  letter-spacing: 1px;

  font-size: 14px;

 

}


#gfg{

  width: 250px;

  font-size: 14px;

}

button{

  /* margin-top: 80px; */

  width: 100px;

  letter-spacing: 5px;

  color: #f2f8f8;

  background-color: #1A91F0;

  margin-top: 10px;

  height: 40px;

  border: 1px solid;

 

}

button:hover{

  background-color: rgb(0, 5, 8);

 

}

@media print{

  button{

      display: none;

  }

  #l22{

      display: none;

  }

  .textarea1{

      border: none;

  }

  input{

      border: none;

  }

  .table{

      border: none;

  }

  .myclassname1{

      border: none;

  }

  #gfg,#f{

      border: none;

  }

 

}

.skill{

  text-align: right;

  padding-top: 2px;

  padding-bottom: 2px;

  color: white;

}

#l1,#s1,#h1{

  height: 20px;

  /* margin-top: 5%; */

  letter-spacing: 2px;

  text-transform:capitalize;

}  

#skill,#hobbi{

  display:grid;

  width:  200px  ;

  font-size: 16px;

 

}

.hobbies-box h2{

  margin-left: 50px;

}

input{

  text-align: center;

  letter-spacing: 1px;

  /* font-weight: 600; */

  font-size: 16px;

  text-transform:capitalize;
  width: 300px;
  

 

}
.aboutinterest input{
    display: grid;
}
.box input{
    display: grid;
    
}
#text{
    margin: 5px;
}

#h11{

  font-size: 1.5em;

  text-align: start;

  text-transform:capitalize;

}

th{

  background-color: #648e46;

  color: #0a0a0a;

}

.con h2{

margin-top: 20px;

margin-left: 20px;

}
.occ input{

  font-size: 1em;

  text-align: start;
}
.occ{
  margin-top:-20px;

}

